*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS HEATHER*/
.icono {
    color: white;
}
.header{
        display: flex;
        justify-content: space-between;
        background-color: black;
}
fieldset{
    color: darkgray;
}
.header__logo{
                height: 60px;                            
}
.header__navlist{
                 margin: 1rem;                                      
}
.header__navlist li{ 
                font-size: 1.5rem;
                display: inline-block;                
}
.header__navlist li a {
                text-decoration: none;
                color:darkgray;
                margin: 1rem;            
}
.registro{
        color:black;
        text-decoration: none;
        background-color: white;
        border-bottom-color: bisque
}
.header__navanchor--activo{
    background-color:white;
    transition: 3s;
          
}   
.header__navanchor--activo:hover{   
                        height: 30px;
}


/*ESTILOS MAIN*/
.main {
    background-image: url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;     
}
.main__titulo{ 
    color: white;
}
.main__titulo2{ 
color: white;
text-align: center;
padding-top: 2rem;
}
.parrafo1main {
                padding-top: 1rem;
}
.imagen1__main{ 
                height: 300px; 
                padding: 1rem;              
}
.imagen2__main{ 
                height: 300px;
                padding: 1rem;
}
.main__titulo {
    font-size: 3rem;
    color: white;    
 }
 .main__section {
                display: flex;
                flex-direction: row;                
}
.main__section p {
            padding-top: 0rem;
            padding-left: 1rem    
}
.main__section2{
                display: flex;
                flex-direction: row;                
}
.main__section2 p{
                  padding-top: 2rem;  
}
p {
    color: darkgray;
    font-size: 1.25rem;
}
.main__titulo2{
     color: white; 
     font-size: 3rem;  
}
.main__nirvanaimg{
                    height: 380px;
}
.main__nirvanaimg2{
                    height: 380px;
}
.main__section p {
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main__discografia {
                    display: grid;
                    grid-template-columns: repeat(4, 300px);
                    grid-template-rows: repeat(2, 300px);
                    overflow: hidden;
                    padding-bottom: 6rem;
                    padding: 6rem;
                    height: 55rem;
                    justify-content: space-evenly;
                    align-content: space-around;
                    text-align: center;
}
.main__fotobanda1{ 
                    height: 400px;
}

/*ESTILOS FOOTER*/
.footer {background-color: black;
     padding: 2rem;     
}
.footer p{
     text-align: center;
     }


/*estilos pagina de registro*/

.form__registro{ 
                background-color: black;
                color: gray;
                font-size: 1.5rem;
}
.registro__form {
                background-color: black;
}
.main__registro{
                background-color: black;
}

/*estilos media queries moviles*/   

@media screen and (max-width: 1024px){
    .main__discografia {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        text-align: center;
        height:1300px}
.main__section   { 
        display: flex;
        flex-direction: column;
    }
  .imagen1__main{  
    height: 590px;
    padding: 1rem;
    }    
}



@media screen and (max-width: 768px){
 .header__logo {
        height: 40px;
    }
.main__titulo {
        font-size: 2rem;
        padding-left: 13rem;
    }
    .main__section {
        display: grid;
    }
   .imagen1__main {
        height: 445px;
    }
    .imagen2__main{
            height: 525px;
        }
.main__section2{
                display: grid;
}
.main__discografia{
        display: grid;
        grid-template-columns: repeat(2,300px);
        height: 100rem;
    }

    }

@media screen and (max-width: 425px) {
    .header{
            width: 767px;   
    }
    .main{
        width: 767px;   
    }
    .footer{ 
            width: 767px;
    }
}
