/*ESTILOS MAIN PEARL JAM*/

.main {
        &.pearljam__fotobanda1 {
                                height: 460px;
                                margin-left: 4rem;
                                margin-top: 1rem;
                                }
        &.pearljam__fotobanda2 {
                                height: 410px;
                                margin-left: 4rem;
                                margin-top: 2rem;
                                }
}