/*ESTILOS MAIN*/

.main {
    background-image: url(../img/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;     
}
.main__titulo{ 
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}

.main__titulo2 { 
color: white;
text-align: center;
padding-top: 3rem;
padding-bottom: 3rem;
font-size: 2.5rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
}
.imagen1__main{                
                height: 350px; 
                margin-top: 3rem; 
                margin-right:2rem;  
                margin-left: 3rem;    
}
.imagen2__main{ 
                height: 350px;
                margin-top: 4rem;
                margin-right: 2rem;
                margin-block-end: 1rem;
                padding-left: 3rem;
               
}
p {
    color: darkgray;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-right: 2rem;
}
.titulo__carrusel {
        font-size: 5rem;
        font-style: oblique;
        text-align: center;
}
.contenido__carrusel {
font-size: 3rem;
color:white;
text-align: center;
}