/*ESTILOS MAIN NIRVANA*/

.main {
       & .nirvana__parrafo1 {
                            margin-top: 5rem;
                            } 
        & .nirvana__parrafo2 {
                            margin-top: 2rem;
                            }
        & .nirvana__parrafo3 {
                               margin-top: 6rem;
                           }
      & .nirvana__parrafo4 {
                               margin-top: 3rem;     
                           }              
      & .nirvana__fotobanda{
                               height: 450px;
                               margin-top: 1rem;
                               margin-right: 3rem;
                               margin-left: 3rem;
                           }
     & .nirvana__fotobanda2{
                               height: 450px;
                               margin-top: 1rem;
                               margin-right: 3rem;
                               margin-left: 3rem;
                           }
     & .nirvana__fotobanda3{
                            height: 450px;
                            margin-top: 1rem;
                            margin-right: 3rem;
                             margin-left: 3rem;        
                           }
    & .nirvana__fotobanda4 {
                               height: 380px;
                               margin-top: 1rem;
                               margin-right: 3rem;
                               margin-left: 3rem;
                           }                    
}
